app-language-selector {
  margin: 0 1.3rem 0 auto;
}

select {
  width: auto;
  padding: 0.2rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin: 0 1.3rem 0 auto;
  background: #000;
  color: #fff;
}
