<div class="page-wrap">

  <div>

    <app-header></app-header>
    
    <div class="container">
      <div class="text-center">
        <h3>{{ 'Common.HOME_PAGE' | translate }}</h3>
        <app-go-to-posts></app-go-to-posts>
      </div>

      <div class="alert alert-primary mt-3 text-center" role="alert">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem labore rem
        dolores itaque minus maiores eius voluptatem at, sit dignissimos odit nulla
        id, eos tempore dolorem quia! Aliquam beatae, suscipit doloribus quaerat
        quis facere, qui libero, iste aliquid reprehenderit consequuntur tempore est
        accusantium minima nihil dolor minus doloremque amet illo.
      </div>
    
      <div class="alert alert-info mt-3 text-center" role="alert">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptates
        distinctio nam ad magnam rerum iste assumenda rem molestias, libero ut
        similique quod veritatis natus, quas iusto illum odit magni cum totam.
        Quidem corrupti aut et blanditiis obcaecati id pariatur autem debitis
        impedit eveniet, consequuntur vitae facilis quos itaque magnam temporibus
        molestiae. Delectus laudantium magni a repellat, voluptas saepe doloremque
        ipsa ea atque dicta quidem repellendus libero non ad velit, consequatur,
        eaque incidunt aspernatur molestiae et. Facere odio incidunt provident, sed
        itaque tempore explicabo modi aperiam veniam maxime blanditiis, ab
        dignissimos minima. Exercitationem quae alias odio illum, itaque saepe?
        Amet?
      </div>
    
      <div class="alert alert-warning mt-3 text-center" role="alert">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptates
        distinctio nam ad magnam rerum iste assumenda rem molestias, libero ut
        similique quod veritatis natus, quas iusto illum odit magni cum totam.
        Quidem corrupti aut et blanditiis obcaecati id pariatur autem debitis
        impedit eveniet, consequuntur vitae facilis quos itaque magnam temporibus
        molestiae. Delectus laudantium magni a repellat, voluptas saepe doloremque
        ipsa ea atque dicta quidem repellendus libero non ad velit, consequatur,
        eaque incidunt aspernatur molestiae et. Facere odio incidunt provident, sed
        itaque tempore explicabo modi aperiam veniam maxime blanditiis, ab
        dignissimos minima. Exercitationem quae alias odio illum, itaque saepe?
        Amet?
      </div>
    </div>
    
  </div>

  <app-footer>
    <div class="container">
      <ng-container role="navigation">
        <div
          class="
            footer-nav-wrap
            d-flex
            align-items-center
            justify-content-md-between
          "
        >
          <app-go-to-posts></app-go-to-posts>
          <div class="footer-nav-list d-flex">
            <app-menu-item
              *ngFor="let menuItem of menuItems; trackBy: trackByFn"
              [menuItem]="menuItem"
              class="ml-2 footer-nav-item"
            ></app-menu-item>
          </div>
        </div>
      </ng-container>
  
      <ng-container role="copyrights">
        <div class="m-2 text-center">
          {{ 'Common.COPYRIGHT' | translate }}
        </div>
      </ng-container>
    </div>
  </app-footer>

</div>
